<?xml version="1.0" encoding="UTF-8"?>
<con:restMockService xmlns:con="http://eviware.com/soapui/config" id="8c85f325-752c-432c-9bc6-142a01cf5dd2" port="8088" path="/banking" host="localhost" name="onboarding Virtual Service" addUnmatchedOperation="false">
  <con:settings id="f774e9d6-1fc5-4a45-a9e8-0ed7d1f54ea8">
    <con:setting id="8c85f325-752c-432c-9bc6-142a01cf5dd2fileName">onboarding-Virtual-Service</con:setting>
  </con:settings>
  <con:properties/>
  <con:constraints>
    <con:congestion>0</con:congestion>
    <con:inputBandwidth>-1</con:inputBandwidth>
    <con:outputBandwidth>-1</con:outputBandwidth>
    <con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity>
    <con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity>
    <con:virtError>
      <con:start>0</con:start>
      <con:endless>true</con:endless>
    </con:virtError>
  </con:constraints>
  <con:headerValidator type="NONE"/>
  <con:conditionalMatchConfiguration>
    <con:validateSignature>true</con:validateSignature>
    <con:validateSignatureHeaders>false</con:validateSignatureHeaders>
  </con:conditionalMatchConfiguration>
</con:restMockService>